# Node.js options for this project
# Note: .npmrc doesn't support NODE_OPTIONS, but we can use package.json scripts
# The flag --experimental-wasm-modules is needed for WASM module imports in ESM context

